# Visualizing Cybersecurity Incidences
### Goal: transform numbers into impactful visuals.
### Uses:
* Plotly's Dash (for creating local dashboards)
* KaggleHub (for data)

### More about Dash:
* [Dash App Examples](https://plotly.com/examples/)
* [User Guides](https://dash.plotly.com/minimal-app)
* [More about Jupyter Support for Dash](https://github.com/plotly/jupyter-dash?tab=readme-ov-file)
Note: as of Dash v2.11, Jupyter support is built into the main Dash package.

## Environment Setup

In [ ]:
# Installations
%pip install --q pandas dash kagglehub "plotly[express]"

Note: you may need to restart the kernel to use updated packages.

In [ ]:
# Libraries
import kagglehub
from dash import Dash, html, dcc, callback, Output, Input
import plotly.express as px
import pandas as pd

In [ ]:
# Downloads
path = kagglehub.dataset_download("atharvasoundankar/global-cybersecurity-threats-2015-2024") # download latest data set version
df = pd.read_csv(path+"/Global_Cybersecurity_Threats_2015-2024.csv")

## Brief Data Exploration, Understanding

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Country                              3000 non-null   object
 1   Year                                 3000 non-null   int64
 2   Attack Type                          3000 non-null   object
 3   Target Industry                      3000 non-null   object
 4   Financial Loss (in Million $)        3000 non-null   float64
 5   Number of Affected Users             3000 non-null   int64
 6   Attack Source                        3000 non-null   object
 7   Security Vulnerability Type          3000 non-null   object
 8   Defense Mechanism Used               3000 non-null   object
 9   Incident Resolution Time (in Hours)  3000 non-null   int64
dtypes: float64(1), int64(3), object(6)
memory usage: 234.5+ KB

In [8]:
df.describe()

,Year,Financial Loss (in Million $),Number of Affected Users,Incident Resolution Time (in Hours)
count,3000.000000,3000.000000,3000.000000,3000.000000
mean,2019.570333,50.492970,504684.136333,36.476000
std,2.857932,28.791415,289944.084972,20.570768
min,2015.000000,0.500000,424.000000,1.000000
25%,2017.000000,25.757500,255805.250000,19.000000
50%,2020.000000,50.795000,504513.000000,37.000000
75%,2022.000000,75.630000,758088.500000,55.000000
max,2024.000000,99.990000,999635.000000,72.000000

In [9]:
df.nunique()

Country                                  10
Year                                     10
Attack Type                               6
Target Industry                           7
Financial Loss (in Million $)          2536
Number of Affected Users               2998
Attack Source                             4
Security Vulnerability Type               4
Defense Mechanism Used                    5
Incident Resolution Time (in Hours)      72
dtype: int64

In [10]:
df.select_dtypes(exclude=['number']).columns.tolist()

['Country',
 'Attack Type',
 'Target Industry',
 'Attack Source',
 'Security Vulnerability Type',
 'Defense Mechanism Used']

## Dash App
(Local Dashboard Creation)

In [6]:
app = Dash()

# Requires Dash 2.17.0 or later
app.layout = [
    html.H1(children='Title of Dash App', style={'textAlign':'center'}),
    dcc.Dropdown(df.Country.unique(), 'China', id='dropdown-selection'),
    dcc.Graph(id='graph-content')
]

@callback(
    Output('graph-content', 'figure'),
    Input('dropdown-selection', 'value')
)
def update_graph(value):
    dff = df[df.Country==value]
    return px.line(dff, x='Year', y='Number of Affected Users')

if __name__ == '__main__':
    app.run(debug=True)

app.run(jupyter_mode="tab")

Dash app running on http://127.0.0.1:8050/